.black-gradient {
  background-image: linear-gradient(
    to top,
    rgb(19, 19, 19),
    rgba(46, 46, 46, 0.425),
    rgba(255, 255, 255, 0)
  );
}

.primary-gradient {
  background-image: linear-gradient(to right, #cce7e333, #00ffd938);
  border: 2px solid #00d1b2;
  box-shadow: 2px 2px #00d1b2;
  transition: all 0.2s ease;
}
.primary-gradient:hover {
  box-shadow: 5px 5px #00d1b2;
  transform: translateY(-3px) translateX(-3px);
}

.workout-tag {
  position: absolute;
  top: 0;
  right: 0;
}

img {
  object-fit: cover;
}

.bg-img {
  background-size: cover;
  background-position: center;
}

.center-vertically {
  display: flex;
  align-items: center;
}

.hover_scale {
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #333333;
  box-shadow: 2px 2px #333333;
}
.hover_scale:hover {
  transform: scale(1.03);
}
.hover_scale,
.hover_scale_column {
  transition: 0.2s;
  /* border-radius: 5px; */
}

.hover_scale:hover .hover_scale_column {
  /* background-color: rgba(119, 119, 119, 0.356) !important; */
}
